PORT=5000
NODE_ENV=production

# Dành cho Google Apps Script Proxy (Khuyên dùng để cào không giới hạn)
# GAS_PROXY_URL=https://script.google.com/macros/s/XXXXXX/exec

# Dành cho HTTP Proxy tự cấu hình
# HTTP_PROXY=http://user:pass@ip:port

# Dành cho ScraperAPI (nếu có key)
# SCRAPER_API_KEY=your_scraper_api_key